/* Day45 UC1 -Adding logo to header with label Employee PayRoll*/
.header-content
{
    display: flex;
    justify-content: center;
    border: 0px solid green;
}
.logo-content
{
    display: flex;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}
.logo{
    width: 3em;
}
.logo-content-img{
    border: solid 0px #42515f;
}
.emp-text
{
    font: normal normal bold 21px/25px Montserrat;
    /* font-family: "Montserrat",sans-serif;
    letter-spacing: 0px; */
    color: #82a70c;
    text-transform: uppercase;
}
.emp-payroll
{
    color: #42515f;
}
/* UC2-Creating a body for Form,adding Header label and 1st input as text for Name */
.form-content
{
    min-height:calc(100%-80%);      /*no impact */
    background-color: #f7f7f7;      /*no impact */
    display: flex;                  /*mandatory to apply flex so than only justify-content will work */
    justify-content: center;        /*to make it center */
    align-items: center;
    border: 0px solid green;
}
.form
{
    width: 65%;                     /*by def width is v small ,so increasing width*/    
    padding: 44px 60px;             /* gap between content and margin  */
    background: #FFFFFF 0% 0% no-repeat padding-box;/* by def form and main background r same,so making diff on form b/g  */
    border: 1px solid #f5f5f5;      /*  border margin (thickness of border) */
    border-radius: 8px;             /* form border will be rounded from corner  */
    box-shadow: 0px 3px 6px #00000029;      /*H V blurredness color (applying shadow)  */
    opacity: 1;
}
.form-head
{
    font: normal normal bold 24px/37px Roboto;/*form-laid out with the given pixel and bold but no effect on removing normal*/
    letter-spacing: 0px;
    color: #42515f;     
    text-transform: capitalize; /*pascal*/
    opacity: 1;
    padding-bottom: 20px;       /*gap in between margin and content*/
}
.row-content
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}
.label
{
    min-width: 140px; /*width applying -here it lets all the placeholder to be started with the same starting position */
}
label       /*no effect*/
{
    padding:12px 12px 12px 0;
    display: inline-block;
}
.text
{
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}
.input
{
    width: 100%;        /*by def its v small ,we increasing the width from left to end of the right */
    padding: 12px;  
    border: 1px solid #ccc;   /*making lighter contrast of border */
    border-radius: 4px;         /*corner curved on placeholder i.e textBox*/
    resize: vertical;
}
/*UC3 - Adding 4 Profile images and radio buttons*/
.profile-radio-content     
{
    display: flex;
    flex-direction: row;
}
.profile-radio-content>label
{
    display: flex; align-items: center;
}
.profile
{
    border-radius: 50%; margin-left: 4px; width: 2em;
}
/*UC5* Start Date ~ DropDown Items*/
select
{
    padding: 12px;
    border: 1px solid #CCC;
    border-radius: 4px;
    color: rgb(66, 81, 95);
    font: normal normal normal 16px Roboto;
    /* resize: 4px;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent; */
}

/*UC6 - Ability to add Notes and Button*/
.buttonParent{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}
.button{
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #707070;
    cursor: pointer;
}
/* .submitButton{
    border: none;
    background-color: #f5f5f5;
    margin-right: 30px;
} */
.cancelButton{
    text-decoration: none;
    text-align: center;
}
/* UC6 Extn - Adding Media Queries */
@media only screen and (max-width:960px)
{
    .cancelButton
    {
        margin-left: 0px;
    }
    .form
    {
        width: 85%;
        padding: 44px 20px;
    }
}
/*UC7 Apply button corners as round with border and background  */
.btn-ux-design
{
    border-radius: 5px;
    border: 1px solid #969696;
    background: #E2E2E2 0% 0% no-repeat padding-box;
}

/* Day46 -UC2 */
.text-error
{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}